/* Custom global styles */
:root{
    --body-bg: #16161a;
    --sidebar-bg: #16161a;
    --prism-code-bg: #1a1b1b !important;
    --content-link-color: var(--blue-300);
    --top-header-bg: hsl(240, 8%, 9%, 0.8);
}

pre code {
    background: transparent !important;
    padding: 0px 1rem 1rem !important;
}

/* Logo color inversion when NOT in dark mode */

html[data-dark-mode] .logo-icon img{
    filter: invert(0) !important;
}

html[data-dark-mode] .invert {
    filter: invert(0) !important;
}

html[data-dark-mode] .sidebar-brand svg {
    filter: invert(0) !important;
}

html[data-dark-mode] svg:has(image) {
    filter: invert(0) !important;
}


html:not([data-dark-mode]) .logo-icon img{
    filter: invert(1) !important;
}

html:not([data-dark-mode]) .invert {
    filter: invert(1) !important;
}

html:not([data-dark-mode]) .sidebar-brand svg {
    filter: invert(1) !important;
}

html:not([data-dark-mode]) svg:has(image) {
    filter: invert(1) !important;
}


.docs-content .main-content ul > li:has(>h1)::before { top: 25px; }
.docs-content .main-content ul > li:has(>h2)::before { top: 20px; }
.docs-content .main-content ul > li:has(>h3)::before { top: 15px; }
.docs-content .main-content ul > li:has(>h4)::before { top: 10px; }
.docs-content .main-content ul > li:has(>h5)::before { top: 10px; }
.docs-content .main-content ul > li:has(>h6)::before { top: 10px; }


.docs-content h1, .docs-content .h1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

hr {
    margin-bottom: 2rem !important;
}
.docs-content h2, .docs-content .h2 {
    margin-bottom: 0.5rem !important;
}

.docs-content h3, .docs-content .h3 {
    font-size: calc(1.3rem) !important;
    margin-bottom: 0.5rem !important;
}

.docs-content h4, .docs-content .h4 {
    font-size: calc(1rem) !important;
    margin-bottom: 0rem !important;
}

.docs-content h5, .docs-content .h5 {
    font-size: calc(0.9rem) !important;
    margin-bottom: 0rem !important;
}

.docs-content h6, .docs-content .h6 {
    font-size: calc(0.8rem) !important;
    margin-bottom: 0rem !important;
}

.docs-content .main-content blockquote p {
    opacity: 0.5;
}

.docs-content .main-content blockquote {
    font-size: 1rem;
}

/* Index page styles */
footer {
    background: transparent;
    border-top: 1px solid var(--sidebar-border-color);
    padding-top: 10px;
}

/* Icon button styles */
.btn.btn-icon {
    height: 36px;
    width: 36px;
}

/* Nav hover effects */
.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--feature-icon-color) !important;
}

.btn-icon:hover {
    color: var(--feature-icon-color) !important;
}

/* Mobile social icons */
.desktop-only {
    display: flex;
}
.mobile-only {
    display: none !important;
}
@media (max-width: 768px) {
    .desktop-only {
        display: none !important;
    }

    .social-icons a > div {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }
    .btn.btn-icon {
        height: 25px;
        width: 25px;
        border: none !important;
    }

    .btn.btn-icon svg {
        height: 16px;
        width: 16px;
        border: none !important;
    }

    #top-header .d-flex.align-items-center.gap-3 {
        gap: 0.5rem !important;
    }

    #flexsearch-button {
        height: 25px;
        width: 25px;
        padding: 4px;
        border: none !important;
    }

    .sidebar-brand {
        visibility: hidden;
    }

    .toggle-light svg, .toggle-dark svg {
        height: 20px !important;
        width: 20px !important;
        margin: 0 !important;
    }

    .social-icons {
        gap: 0.5rem !important;
    }



    .social-icons svg {
        width: 16px !important;
        height: 16px !important;
    }

    .social-icons .divider {
        height: 16px !important;
    }
}

.docs-content .main-content code {
    font-size: 80% !important;
}

p:has(+p) {
    margin-bottom: 0rem !important;
}

blockquote p:has(+p) {
    margin-bottom: 0.5rem !important;
}

main.page-content footer:has(.container-fluid) {
    display: none !important;
}

a .card-body.py-2 {
    align-content: center;
}

.docs-toc toc > div {
    display: none !important;
}